nav {
    background-color: powderblue;
    padding: 1em;
    border-radius: 10px; 
    text-align: end;   
}

body{
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: #f0f8ff;
}